doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include emailStyles.css
  body(style='background: #f5f5f5;')
    .mj-container(style='background-color:#f5f5f5;')
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:#f5f5f5;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#f5f5f5;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:30px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                            tbody
                              tr
                                td(style='width:90px;')
                                  a(href='https://go2cinema.com/', target='_blank')
                                    img(alt='', title='', height='37.8px', src='https://s3.eu-west-2.amazonaws.com/lifeishappening/140Canvaslogo1.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:36.6px;', width='138.5')
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                            tbody
                              tr
                                td(style='width:546px;')
                                  img(alt='', title='', height='165px', src='https://operator-production.herokuapp.com/images/mailer/countdown-to-better-sleep.jpg', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:165px;', width='546')
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:20px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:500px;')
                .mj-column-px-500.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          div(style='cursor:auto;color:#283375;font-family:Helvetica;font-size:25px;font-weight:bold;line-height:22px;text-align:center;') COUNTDOWN TO 140 CHARACTERS
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px;padding-bottom:15px;padding-top:5px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:450px;')
                .mj-column-px-450.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          div(style='cursor:auto;color:grey;font-family:Helvetica;font-size:18px;font-weight:200;line-height:22px;letter-spacing:.045em;text-align:center;')
                            | #{nameB}, we’ve received your order and all systems are go. When your order ships, we’ll send you another email with your tracking info.
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px;padding-bottom:75px;padding-top:5px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:400px;')
                .mj-column-px-400.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          div(style='cursor:auto;color:grey;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:22px;letter-spacing:.045em;text-align:center;')
                            | Order Number: 
                            a(href='#') R650000650
                            |  | Date ordered: #{emailDate}
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='font-size:1px;line-height:30px;white-space:nowrap;')  
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:20px 0px 10px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:282px;')
                .mj-column-per-47.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 8px 27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;font-weight:bold;line-height:22px;letter-spacing:.025em;text-align:left;') BILLING ADDRESS
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;line-height:22px;text-align:left;') #{nameB}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;line-height:22px;text-align:left;') #{line1B}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;line-height:22px;text-align:left;') #{cityB}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;line-height:22px;text-align:left;') #{postcodeB}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:27px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;line-height:22px;text-align:left;') #{countryB}
                //if mso | IE
                  td(style='vertical-align:top;width:282px;')
                .mj-column-per-47.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 8px 0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:22px;letter-spacing:.025em;text-align:left;') SHIPPING ADDRESS
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;line-height:22px;text-align:left;') #{nameS}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;line-height:22px;text-align:left;') #{line1S}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;line-height:22px;text-align:left;') #{cityS}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;line-height:22px;text-align:left;') #{postcodeS}
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;padding-left:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:14px;line-height:22px;text-align:left;') #{countryS}
                //if mso | IE
                  td(style='vertical-align:top;width:36px;')
                .mj-column-per-6.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:10px 0px 0px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:10px 25px;')
                          p(style='font-size:1px;margin:0px auto;border-top:2px solid #eeeeee;width:100%;')
                          //if mso | IE
                            table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', style='font-size:1px;margin:0px auto;border-top:2px solid #eeeeee;width:100%;', width='600')
                              tr
                                td(style='height:0;line-height:0;')  
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:144px;')
                .mj-column-per-24.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:13px 0px 13px 27px;', align='left')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='left', border='0')
                            tbody
                              tr
                                td(style='width:80px;')
                                  img(alt='', title='', height='80px', src='https://casper1.imgix.net/mattress-thumb.jpg?auto=format&h=80&w=80', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:80px;', width='80')
                //if mso | IE
                  td(style='vertical-align:top;width:162px;')
                .mj-column-per-27.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:16px 0px 3px 0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:16px;line-height:22px;text-align:left;') 140 Character Canvas
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:left;') Size: A1
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;line-height:15px;text-align:left;') Qty: 1
                //if mso | IE
                  td(style='vertical-align:top;width:294px;')
                .mj-column-per-49.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:16px 26px 3px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:13px;line-height:22px;text-align:right;') £30.00
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 26px 0px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;line-height:22px;text-align:right;') In Production
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:10px 25px;')
                          p(style='font-size:1px;margin:0px auto;border-top:2px solid #eeeeee;width:100%;')
                          //if mso | IE
                            table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', style='font-size:1px;margin:0px auto;border-top:2px solid #eeeeee;width:100%;', width='600')
                              tr
                                td(style='height:0;line-height:0;')  
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px 0px 15px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:360px;')
                .mj-column-per-60.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                //if mso | IE
                  td(style='vertical-align:top;width:120px;')
                .mj-column-per-20.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:16px 0px 3px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:13px;line-height:10px;text-align:right;') Subtotal
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;line-height:22px;text-align:right;') Shipping
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:10px 0px 0px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;font-weight:bold;line-height:22px;text-align:right;') Total
                //if mso | IE
                  td(style='vertical-align:top;width:120px;')
                .mj-column-per-20.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:16px 26px 3px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica;font-size:13px;line-height:10px;text-align:right;') £30.00
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 26px 0px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;line-height:22px;text-align:right;') £0.00
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:10px 26px 0px 0px;', align='right')
                          div(style='cursor:auto;color:#616161;font-family:Helvetica ;font-size:13px;font-weight:bold;line-height:22px;text-align:right;') £30.00
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='font-size:1px;line-height:30px;white-space:nowrap;')  
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:20px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                          div(style='cursor:auto;color:#2a3376;font-family:Helvetica;font-size:18px;font-weight:bold;line-height:22px;letter-spacing:.045em;text-align:center;') ANY QUESTIONS?
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:white;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:white;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:0px 0px 20px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:36px;')
                .mj-column-per-6.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='left', border='0')
                            tbody
                              tr
                                td(style='width:28px;')
                                  img(alt='', title='', height='24px', src='https://operator-production.herokuapp.com/images/mailer/icon-bubble.jpg', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:24px;', width='28')
                //if mso | IE
                  td(style='vertical-align:top;width:180px;')
                .mj-column-per-30.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          div(style='cursor:auto;color:#2a3376;font-family:Helvetica;font-size:16px;line-height:22px;letter-spacing:.045em;text-align:left;') 01243 573538
                //if mso | IE
                  td(style='vertical-align:top;width:36px;')
                .mj-column-per-6.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='left', border='0')
                            tbody
                              tr
                                td(style='width:28px;')
                                  img(alt='', title='', height='22px', src='https://operator-production.herokuapp.com/images/mailer/icon-email.jpg', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:22px;', width='28')
                //if mso | IE
                  td(style='vertical-align:top;width:180px;')
                .mj-column-per-30.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                          div(style='cursor:auto;color:#2a3376;font-family:Helvetica;font-size:16px;line-height:22px;letter-spacing:.045em;text-align:left;') support@140characters.com
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='font-size:1px;line-height:0px;white-space:nowrap;')  
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      table(role='presentation', cellpadding='0', cellspacing='0', style='background:#f5f5f5;font-size:0px;width:100%;', border='0')
        tbody
          tr
            td
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:20px 0px 0px 0px;')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tr
                              td(style='vertical-align:top;width:252px;')
                        .mj-column-per-42.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='right')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='right', border='0')
                                    tbody
                                      tr
                                        td(style='width:31px;')
                                          a(href='https://go2cinema.com/', target='_blank')
                                            img(alt='', title='', height='31px', src='https://operator-production.herokuapp.com/images/mailer/social/instagram.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:31px;', width='31')
                        //if mso | IE
                          td(style='vertical-align:top;width:42px;')
                        .mj-column-per-7.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                                    tbody
                                      tr
                                        td(style='width:31px;')
                                          a(href='https://go2cinema.com/', target='_blank')
                                            img(alt='', title='', height='31px', src='https://operator-production.herokuapp.com/images/mailer/social/pinterest.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:31px;', width='31')
                        //if mso | IE
                          td(style='vertical-align:top;width:42px;')
                        .mj-column-per-7.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                                    tbody
                                      tr
                                        td(style='width:31px;')
                                          a(href='https://go2cinema.com/', target='_blank')
                                            img(alt='', title='', height='31px', src='https://operator-production.herokuapp.com/images/mailer/social/twitter.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:31px;', width='31')
                        //if mso | IE
                          td(style='vertical-align:top;width:252px;')
                        .mj-column-per-42.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='left')
                                  table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='left', border='0')
                                    tbody
                                      tr
                                        td(style='width:31px;')
                                          a(href='https://go2cinema.com/', target='_blank')
                                            img(alt='', title='', height='31px', src='https://operator-production.herokuapp.com/images/mailer/social/facebook.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:31px;', width='31')
                        //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      table(role='presentation', cellpadding='0', cellspacing='0', style='background:#f5f5f5;font-size:0px;width:100%;', border='0')
        tbody
          tr
            td
              div(style='margin:0px auto;max-width:600px;')
                table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;', align='center', border='0')
                  tbody
                    tr
                      td(style='text-align:center;vertical-align:top;border:0px solid green;direction:ltr;font-size:0px;padding:10px 0px 20px 0px;')
                        //if mso | IE
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tr
                              td(style='vertical-align:top;width:600px;')
                        .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                          table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                              tr
                                td(style='word-wrap:break-word;font-size:0px;padding:0px;', align='center')
                                  div(style='cursor:auto;color:#999999;font-family:Helvetica;font-size:11px;line-height:22px;letter-spacing:.045em;text-align:center;') 58-60 Berners Street, London, W1T 3JS | © 2017 140 Characters Ltd.
                        //if mso | IE
      //if mso | IE